.easy
{
  background:  	#5cb85c;  
  font-family: monospace;
}

.medium
{
  background:  #5bc0de;  
  font-family: monospace;
}

.hard
{
  background: #d9534f;  
  font-family: monospace;
}

.sortby
{
	float: right;
	margin-bottom: 5px;
}


.allFiles
{
	clear: both;
	content: "";
	display: block;
}
